body{
    background-color: rgb(193, 195, 203);
}
.Content {
    border-radius: 1rem;
    padding: 0.2rem;
    background-color: rgb(223, 229, 255);
   
}

.Content h1 {
    color: var(--Title_color);
    padding:0rem 0.5rem;
}

.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.pokemon{
    background-color: var(--gress_background_color);
    border-radius: 1rem;
    margin: 0.1rem;
    padding: 0.5rem;
    gap: 0.4rem;
    

}

.pokemon .detales{
    display: flex;
    flex-direction: row;
}



.number{
    align-self: flex-end;
    color: var(--number_color);
}

.name{
align-self: flex-start;
color: var(--text_color);
}

.pokeinfo{
    display: flex;
    max-width: 100%;
    
}

.types{
    list-style: none;
    padding: 0;
    margin: 0;

}

.type{
    background-color: var(--type_background);
    border-radius: 1rem;
    padding: .2rem;
    margin: 0.2rem;
    font-size: 0.6rem;
    color: var(--text_color);
}

.pokeinfo .detales .img{
    align-self: flex-end;
    width: 64px;
    height: 64px;
}

@media screen and (min-width: 768px){

    .Content{
        max-width: 996px;
        margin: 0 auto;
    }
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .type{
    border-radius: 1rem;
    padding: .5rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    }
    .pokeinfo .detales .img{
    align-self: flex-end;
    width: 96px;
    height: 96px;
    }
    .name{
        font-size: 2rem;
    }



}
@media screen and (min-width: 996px){

    .Content{
        max-width: 996px;
        margin: 0 auto;
    }
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .type{
    border-radius: 1rem;
    padding: .5rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    }
    .pokeinfo .detales .img{
    align-self: flex-end;
    width: 96px;
    height: 96px;
    }
    .name{
        font-size: 2rem;
    }



}

@media screen and (max-width: 331px){
    .pokemons{
        grid-template-columns: 1fr;
    }
}
